<div class="page-container">
    <div class="login-container">
      <h2 class="login-title">Login</h2>
      <form class="login-form">
        <label for="username" class="login-label">Username</label>
        <input id="username" type="text" class="login-input" />
        <label for="password" class="login-label">Password</label>
        <input id="password" type="password" class="login-input" />
        <button  routerLink="/transactions" type="button" class="login-button">
          Login
        </button>
      </form>
    </div>
  </div>
  